audio
dataset/
DS_10283_3038
./DS_10283_3038/*
./DS_10283_3038/*/*
./DS_10283_3038/*/*/*
./DS_10283_3038/*/*/*/*
./D-freevc.pth
logs
./logs/*
./logs/*/*
synth_data
synth_data/*
wavlm
wavlm/*
speaker_encoder/ckpt/*
finetune
finetune/*
finetune/*/*
finetune/*/*/*
*.pyc
